<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
<div class="col-sm-offset-2 col-sm-10">
  <table class="table">
    <thead>
      <tr>
        <th colspan="7">2018 - march </th>
      </tr>
      <tr>
        <th>S</th>
        <th>M</th>
        <th>T</th><th>W</th><th>T</th><th>F</th><th>S</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of weeks">
        <td class="weekend">1</td>
        <td class="weekday">2</td>
        <td class="weekday">3</td>
        <td class="weekday">4</td>
        <td class="weekday">5</td>
        <td class="weekday">6</td>
        <td class="weekend">7</td>
      </tr>
    </tbody>
  </table>
</div>
</div>